@font-face {
  font-family: 'Fertigo_PRO';
  src: url("Fertigo_PRO-webfont.woff2") format("woff2"), url("Fertigo_PRO-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #D2D4D5 !important;
  font-family: 'Fertigo_PRO' !important;
}

.container {
  padding-top: 10px !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.slider {
  position: relative;
  border: 3pt solid black;
}

.slider:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 41.66667%;
}

.slider > .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftBtn {
  margin-left: 10px;
  position: absolute;
  z-index: 4;
  width: 51px;
  height: 51px;
  overflow: hidden;
  top: 40%;
  bottom: 0;
  cursor: pointer;
}

.rightBtn {
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  z-index: 3;
  overflow: hidden;
  top: 40%;
  bottom: 0;
  height: 51px;
  width: 51px;
  right: 0;
}

.rightBtn > img {
  position: relative;
  bottom: 56px;
  z-index: 3;
}

.red {
  background: red !important;
}

.pausebtn {
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.menuNav {
  width: 70%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px;
  float: left;
  z-index: 4;
}

.playPause {
  float: left;
  height: 30px;
  width: 30px;
  margin-top: -5px;
}

.playPause > img {
  width: 100%;
  height: 100%;
}

.divider {
  background: rgba(255, 255, 255, 0.2);
  width: 2px;
  height: 150%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.vline {
  border-left: 2pt solid #D2D4D5;
}

#slider3 {
  z-index: 2;
}

.currentSlide {
  z-index: 3;
}

.navbar-brand > img {
  height: 165%;
}

.Main-Title {
  margin-top: 0px;
  padding-top: 10px;
  height: 80px;
  width: 80%;
}

.Main-Title > span {
  color: #075AA0;
}

.wrapper {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.card {
  background: #FDFDFD;
  border-radius: 2px;
  min-height: 50px;
}

.pushable {
  background-color: #FDFDFD;
  height: 100% !important;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  background: #075AA0;
  color: black !important;
}
